<!-- ==============================
     HEADER
============================== -->
<header>
  <div class="logo">
    <a href="/homepages/home1.html" class="logo-image-link">
      <img src="/logo.png" alt="Vinora Logo" class="brand-logo" />
    </a>

    <div class="logo-text">
      <h1>VIN<span>ORA</span></h1>
      <p>WINE BAR & TASTE</p>
    </div>
  </div>

  <nav>
    <ul class="nav-links">
      <li class="dropdown">
        <a href="#" aria-current="page">
          Home <i class="fa-solid fa-angle-down"></i>
        </a>

        <ul class="dropdown-menu">
          <li><a href="index.html">Home One</a></li>
          <li><a href="home1.html">Home Two</a></li>
        </ul>
      </li>
      <li><a href="about.html">About</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="pricing.html">Pricing</a></li>
      <li><a href="blog.html">Blogs</a></li>
      <li><a href="contact.html">Contact</a></li>
      
    </ul>
    <div class="mobile-login">
      <a href="login.html" class="login-btn">Login</a>
    </div>
  </nav>

  <div class="buttons">
    <button
      class="icon-btn rtl-btn"
      id="rtlToggle"
      title="RTL Mode"
      aria-label="Toggle RTL mode"
    >
      <i class="fa-solid fa-language"></i>
    </button>

    <button
      class="icon-btn dark-btn"
      id="themeToggle"
      title="Dark Mode"
      aria-label="Toggle dark mode"
    >
      <i class="fa-solid fa-moon"></i>
    </button>

    <a href="login.html" class="login-btn desktop-login">Login</a>
    <a href="book.html" class="book-btn desktop-login">Book Now</a>

    <button
      class="icon-btn menu-btn"
      id="menuToggle"
      title="Menu"
      aria-label="Open menu"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</header>
